<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <a href="/views/home.html">Home</a>
        <a href="/views/about.html">About</a>
        <a href="/views/works.html">Works</a>
        <a href="/views/photo-Gallery.html">Photo Gallery</a>
    </nav>

    <h1>Bienvenido a Leo Messi's App</h1>
    <img src="/lab-express-basic-site/public/welcome.jpeg">
    <p>Leo Messi os da la bienvenida a su app. El astro argentino os saluda desde Miami, su nuevo club en Estados Unidos.</p>

</body>
</html>