<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <h1>Leo Messi - Barcelona F.C</h1>
    <img src="/barsa.jpg">
    <p>Leo Messi disfrutando en su etapa en España.</p>


    <h1>Leo Messi - Paris Saint-Germain.</h1>
    <img src="/psg.jpg">
    <p>Leo Messi disfrutando en su etapa en Francia. </p>

    <h1>Leo Messi - Inter de Miami</h1>
    <img src="/inter.jpg">
    <p>Leo Messi disfrutando en su etapa en Estados Unidos.</p>

    <h1>Leo Messi - Selección Argentina de Fútbol</h1>
    <img src="/argentina.jpg">
    <p>Leo Messi disfrutando en su etapa en el combinado nacional.</p>
</body>
</html> 