<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Trayectoria de Leo Messi</h1>
    <img src="/lab-express-basic-site/public/worldcup.jpg" />

    <p>
      Fútbol Club Barcelona. Leo Messi fue descubierto por el Fútbol Club
      Barcelona. Dejó el Club Atlético Newells Old Boys de Rosario para
      trasladarse a Europa junto con su familia, donde el club azulgrana le
      costeó los gastos de su enfermedad hormonal (900 USD por mes). Durante
      varios años recibió diariamente dos inyecciones de la hormona de
      crecimiento ayudándolo a crecer 23 centímetros. Finalmente, llegó a
      alcanzar los 1,70 centímetros de estatura y gasta una talla 40 de pie.
      Messi debutó en el primer equipo del FC Barcelona en diciembre de 2003, en
      un partido amistoso ante el FC Porto entrenado por José Mourinho, aunque
      su debut en partido oficial llegó al año siguiente, en la temporada
      2004/2005, en un partido de liga ante el RCD Espanyol, convirtiéndose en
      el jugador más joven del Barcelona en jugar un partido de la Primera
      División de la Liga Española (16 años). El club ganó la Liga 2004/05, y al
      año siguiente la Liga de Campeones de la UEFA 2005/06. En la temporada
      2006/07 Leo Messi pasó a formar parte del cuadro titular, marcó una
      hat-trick en El Clásico contra su gran rival, el Real Madrid, finalizando
      la temporada con 14 goles en 26 partidos disputados. La temporada
      2008/2009 se consagró como el mejor jugador del mundo y el Barcelona
      conseguiría el triplete. Messi anotó un total de 38 goles. En 2009/2010
      consiguió anotar 47 goles en la temporada, de los cuales 34 fueron en la
      competición de liga. Ganó la Bota de Oro igualando el registro goleador de
      Ronaldo en la temporada 1996/1997. El 5 de agosto de 2021 se supo que Leo
      Messi no seguiría en el FC Barcelona tras el parón en las negociaciones
      por su renovación. En un comunicado del club azulgrana despide al
      argentino, al mejor jugador de su historia, por no poder inscribirle en
      LaLiga. El comunicado dice que: «A pesar de haberse llegado a un acuerdo
      entre el FC Barcelona y Leo Messi y con la clara intención de ambas partes
      de firmar un nuevo contrato en el día de hoy, no se podrá formalizar
      debido a obstáculos económicos y estructurales (normativa de LaLiga
      española)». La renovación de Leo Messi por el FC Barcelona estaba
      encarrilada y a falta de firma. El acuerdo era total y solo faltaba un
      encuentro entre Jorge Messi (padre de Messi) y el presidente Joan Laporta
      para concretarlo y dar inicio a los actos de renovación. La reunión tuvo
      lugar el jueves día cinco en Barcelona y en ella se comentó la dificultad
      de inscripción de Leo Messi por parte del Barça lo que ha provocado un
      frenazo en las negociaciones.
    </p>

    <p>
      El PSG (Paris Saint-Germain Football Club) informó que la rueda de prensa
      de presentación de Messi como nuevo jugador del equipo para el 11 de
      agosto de 2021 a las 11.00 horas en el auditorio del Parque de los
      Príncipes. Se liga al club con un contrato para las dos próximas
      temporadas, con otra opcional. Su salario estará entre los 35 y los 40
      millones de euros netos por año, incluido el contrato laboral y el de
      derechos de imagen.
    </p>

    <p>
      Lionel Messi decidido fichar por el Inter de Miami, confirmando su llegada
      al fútbol de Estados Unidos el 7 de junio de 2023. Esta decisión se
      produke después de rechazar una oferta de 600 millones de dólares por
      temporada de Arabia Saudita y descartar la posibilidad de regresar al
      Barcelona, que nunca se materializó oficialmente. A punto de cumplir 36
      años, el futbolista argentino optó por un camino intermedio después de
      finalizar su contrato con el PSG, decidiendo priorizar la opción familiar
      que le ofrece el Inter de Miami en lugar del dinero de Arabia Saudita o el
      apego a los colores del Barça. La difícil situación económica del club
      catalán impedió llegar a un acuerdo que cumpliera con las exigencias de la
      Liga, la misma razón que provocó su salida en 2021.
    </p>
  </body>
</html>
